*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: hsl(210, 46%, 95%);
    height: 100%;
    margin: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Main Container Style */
.main-section{
    align-items: center;
    display: flex;
    margin: 8rem;
    text-align: left;
    width: 100%;
}

/* Horizontal Sections */
.horiz-sect{
    height: 100%;
    width: 75%;
}
.horiz-sect h3{
    margin-bottom: 1rem;
}

/* Testimonial Cards */
.card1-and-2,.card3-and-4{
    display: flex;
    margin: 2rem 2rem 2rem 0;
}
.card-1,.card-2,.card-4{
    color:hsl(0, 0%, 81%);
}
.card-3,.card-5{
    color: rgb(72, 85, 106);
}
.ver-grad-1,.ver-grad-2,.ver-grad-4{
    color:rgb(207, 207, 207, 0.5);
}
.ver-grad-3,.ver-grad-5{
    color: rgb(72, 85, 106, 0.5);
}
.p1,.p2,.p4{
    color:rgb(207, 207, 207, 0.7);
}
.p3,.p5{
    color: rgb(72, 85, 106, 0.7);
}
.card-1{
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 20%;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px hsl(0, 0%, 81%);
    margin-right: 2rem;
    padding: 2rem;
}

.card-2{
    background-color: hsl(217, 19%, 35%);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px hsl(0, 0%, 81%);
    padding: 2rem;
}
.card-3{
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px hsl(0, 0%, 81%);
    margin-right: 2rem;
    padding: 2rem;
}
.card-4{
    background-color: hsl(219, 29%, 14%);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px hsl(0, 0%, 81%);
    padding: 2rem;
}
.card-5{
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px hsl(0, 0%, 81%);
    height: 690px;
    padding: 2rem;
}

/* Image and Name Styling */
.img-and-name{
    display: flex;
    font-size: smaller;
    height: 35px;
    margin-bottom: 1rem;
}
.img-and-name img{
    border: 2px solid hsl(263, 94%, 69%);
    border-radius: 50%;
    height: 35px;
    margin-right: 10px;
}

/* Vertical Section */
.vert-section{
    width: 25%;
}


/* Responsive Design */
@media  screen and (max-width:375px) {
    .main-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 2rem 1rem;
    }
    .horiz-sect{
        display: block;
    }    
    .vert-section{
        padding: 1rem;
    }
    .card1-and-2,.card3-and-4{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .card-1,.card-2,.card-3,.card-4,.card-5{
        margin: 1rem;
    }
    .card-5{
        height: fit-content;
    }
        .horiz-sect,
        .vert-section {
            width: 100%;
        }
        
        .horiz-sect > div,
        .vert-section > div {
            margin: 0;
        }
}